html {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: normal !important;
}
body {
  background-color: #ffffff !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}  

.button-collapse {
  color: #ff9800;
}

.parallax-container z-depth-4 {
  box-shadow: none;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
} 
#Home{
  margin-top: 80px;
  margin-bottom: 10px;
}
#About, #Carousel, #Research, #Industry, #Form, #Description, #CardsC{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

#tree {
  width: 100%;
  height: 100%;
}

.card{
  overflow: auto !important;
  border-radius: 3em !important;
}
.card-reveal{
  overflow: auto !important ;
  border-radius: 3em !important;
}

/*PARTICULAS*/
 #particles-js{
  height: 150vh;
  width: 210vh;
  position: fixed;
  z-index: -1;
}


/*NAV*/
#Nav ul a{
  font-size: 20px!important;
}
#Nav a:hover{
  color: #ffa502 !important;
  text-shadow: #ced4da;
}
#Nav .brand-logo{
  margin-left: 25px !important;
}
nav ul a,
nav .brand-logo {
  color: rgb(255, 255, 255);
}
span{
  color: #ff9800 !important;
}

/*CARDS_C*/
#CardsC{
  padding-top: 100px;
  background-color: #00000000;
}

#CardsC p{
  line-height: 20px !important;
  font-size: 15px;
  color: #424242;
}
#CardsC .card{
  height: 650px !important;
  background-color: #ced4da00 !important;
}
#CardsC span:hover{
  color: #ff9800 !important;
}

/*CARDS_C2*/
#CardsC2{
  padding-top: 100px;
  background-color: #00000000;
}

#CardsC2 p{
  line-height: 20px !important;
  font-size: 15px;
  color: #424242;
}
#CardsC2 .card{
  height: 650px !important;
  background-color: #ced4da00 !important;
}
#CardsC2 span:hover{
  color: #ff9800 !important;
}

/*CAROUSEL*/
#Carousel{
  padding-bottom: 80px;
}
#Carousel .carousel{
  height: 600px !important;
  width: 100% !important;
} 
#Carousel .carousel-item img{
  height: 250px;
}
#Carousel .card-content{
  height: 210px !important;
}
#Carousel i{
  font-size: 30px;
}
#Carousel p{
  font-size: 20px !important;
}
#Carousel span{
  font-size: 25px !important;
}
#Carousel i:hover{
  color: #ffa502 !important;
  text-shadow: #ced4da;
}
#Carousel .carousel .carousel-item {
  width: 450px !important;
  height: 500px !important;
	padding: 50px;
}
#Carousel .card{ 
	border-radius: 8px; 
	position: relative !important;
	right: 20px !important;
}




/*ABOUT*/
#About .containe{
  padding: 60px !important;
}
#About h1{
  font-size: 40px !important;
  line-height: 1px !important;
}
#About h3{
  font-size: 25px;
}
#About p{
  color: #424242;
  font-size: 18px;
  margin-bottom: 10px !important;
  line-height: 18px;
} 
#About br{
  line-height: 20px !important;
}
#About picture{
  height: 10px !important;
}


/*COURSES_Index*/
#Courses{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  padding: 60px !important;
}

#Courses h1{
  font-size: 40px !important;
  line-height: 1px !important;
}
#Courses h3{
  font-size: 25px;
  text-align: left;
}
#Courses img{
  height: 190px; 
}
#Courses span{
  font-size: 40px !important;
}
#Courses i{
  color: #424242 ;
}
#Courses p{
  color: #424242;
  font-size: 18px;
  margin-bottom: 10px !important;
  line-height: 18px;
} 
#Courses br{
  line-height: 20px !important;
}
#Courses img{
  border-radius: 8em;  
}
#Courses br{
  font-size: 100px;
}


/*Industry*/
#Industry{
  background-color: #d8d8d82a;
}
#Industry h1{
  font-size: 40px !important;
}
#Industry h5, h2{
  text-align: center;
  margin-bottom: 18px;
}
#Industry h2{
  font-size: 35px !important;
}
#Industry h5{
  font-size: 18px !important ;
}
#Industry p{
  color: #424242;
  line-height: 18px;
}
#Industry .card{
  height:500px;
}


/*RESEARCH*/
#Research h1{
  font-size: 40px !important;
}
#Research h5{
  font-size: 18px !important;
}


/*CONTACT*/
#Form{
  margin-bottom: 100px;
}
#Form H1{
  font-size: 105px !important;
  margin-bottom: 100px !important;
}
#Form label{
  font-size: 3rem !important;
}
#Form input{
  font-size: 15px !important;
}
#Form .btn{
  font-size: 25px !important;
}


/*FOOTER*/ 

#Footer p{
  font-size: 1.5rem !important;
}
#Footer i{
  font-size: 1.8rem !important;
  color: #424242;
  height: 3rem;
  width: 3rem !important;
}
#Footer a{
  color: #ced4da;
  font-size: 1.5rem;
}
#Footer label{
  font-size: 1.3rem;
}


/*-----------------------------------------COURSES--------------------------------->*/


/*Collap*/
#Courses_C p{
  font-size: 1rem !important;
  color: #424242;
}
#Courses_C i{
  font-size: 3.5rem !important;
  color: #424242;
}
#Courses_C .collapsible-body{
  padding: 10;
}

#Courses_C .collapsible-header{
  padding: 0;
  
}

#Courses_C h5{
  color: #424242;
}

.collapsible.popout > li.active {
width: 125%;
margin-left: -25%;
background-color: #ffffffbe;
}

/*-----------------------PRUEBAS----------------------*/

/*Formato*/
#Formato{
  margin: 0rem 1rem !important;
  background-color: #ffffff00 !important;
}
#Formato h2{
  color: #ff9800;
  font-size: 3rem;
}
#Formato p{
  color: #424242;
  line-height: 1.2rem;
  font-size: 1.3rem !important;
}
#Formato br{
  line-height: 50px;
}
#Formato .card-panel{
  height: 250px !important;
  width: 100% !important;
}
#Formato .card-panel p{
  line-height: 15px;
}
#Formato i{
  font-size: 10px !important;
}
#Formato .imgprof{
  height: 100% !important;
  width: 100% !important;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
#Formato .fab{
  color: #424242;
  font-size: 20px !important;
}
#Formato h5{
  color: #424242;
}
#Formato .card-image{
  height: 25rem !important;
}
#Formato .card-panel{
  color: #00000000 !important;
  border: 1rem #00000000 solid !important;
  box-shadow: none !important;
  height: 35rem !important;
}
#Formato a{
  margin-left: 2rem;
}
#Formato .card{
  border-radius: 0% !important;
  padding: 2rem 1rem;
}